[2020-06-07 09:40] srevinsaju opened #1 "Rename repository"
A proposal to rename repository to `appstore` instead of `sugarappstore`

React with :+1: or :-1: to vote for this.

[2020-06-07 09:41] srevinsaju opened #2 "New logo for sugar app store"

[2020-06-07 09:41] srevinsaju opened #3 "Host .github.io with beta packages"

[2020-06-24 10:00] srevinsaju opened #6 "Review needed"
@quozl, @Hrishi1999

[2020-07-02 23:34] quozl commented on #6
Thanks.  A quick review.

* [ ] frequent use of SugarLabs instead of our formal name Sugar Labs,
* [ ] missing copyright symbol (C) after the word Copyright in `__init__.py` and possibly other files; briefly you haven't applied the license in the way the license says to apply it, read COPYING carefully,
* [ ] also missing copyright symbol in README.md,
* [ ] SAAS usually means "software as a servi

[2020-07-03 05:44] srevinsaju commented on #6
Thanks, I were probably confused between the two!

I will make sure to change everything to AGPLv3. Actually, AGPLV3 is a non-permissive license. I am not sure what's the motive behind the use of AGPL, my bad I missed them out

ok

I mentioned this to @free-libre-software, who told to use SAAS as an acronym for sugar activities app store. ASLOv4 would not make sense if activities.sugarlabs.org con

[2020-07-03 06:15] #3 closed

[2020-07-03 06:15] srevinsaju commented on #3
Closed by #4

[2020-07-03 06:15] srevinsaju commented on #2
Closed by #4

[2020-07-03 06:15] #2 closed

[2020-07-03 06:32] srevinsaju commented on #6
@quozl

Minimum Requirements;

 - support activity bundles uploaded via ssh,

[code]

 - operate from static HTML5 with JavaScript,
   **Done**

 - detect User-Agent of Fedora 18 systems running Sugar 0.112 or earlier, and redirect to activities.sugarlabs.org,
**Not done. Not aware of how to do it. Will learn about it :smile:**

 - provide a list of all activity bundles,
**See [this](https://githu

[2020-07-03 18:35] srevinsaju commented on #6
@quozl   Fixed 7 out of the review you had mentioned. The other things need discussions, lets find a time appropriate to discuss live.

[2020-07-04 01:01] quozl commented on #6
Thanks. A quick review of repository as of 9566d4ac7be23b85ce82582a005f90cfe6a0390d;

* [ ] some use of Sugarlabs instead of our formal name Sugar Labs, especially in README.md,
* [ ] you're using an absolute link to a logo in README.md instead of a relative link, creating a dependency on GitHub,
* [ ] we call them "Sugar activities", not "Sugarlabs Activities", because Sugarizer also has activiti

[2020-07-04 01:58] quozl commented on #6
I don't know either.  You could either ask all authors to relicense, or we could live with it.

Don't let Manish's absence constrain choice of name.

I think aslov4 as a project name makes reasonable sense regardless of whether we continue to provide activities.sugarlabs.org as a server name.  We could redirect sessions according to user agent.

We can have further discussion on this if you like;

[2020-07-04 18:14] srevinsaju commented on #6
Yes its compatible with AGPLv3. I am allowed to use MIT licensed software in a project licensed for AGPLv3

Yes, you are right. Fixed it on 01cface

Fixed on https://github.com/sugarlabs-appstore/sugarappstore/pull/13/commits/372e95aedaa349c8241b3b4972d92c7ca3a4f125

Fixed on https://github.com/sugarlabs-appstore/sugarappstore/pull/13/commits/8f2ac8f7e3d9159964749b0da171517fa5d2677f

Fixed it some

[2020-07-04 18:40] srevinsaju commented on #6
Until we get a review from Manish, we will use AGPLv3 respecting his decision

-----------------

Ok, for now I have renamed it to `sugarstore-generator`. I hope that would be okay

---------------

Yea, I agree, thanks. I have merged it together on #11. Yes, its likely only experienced developers would work on aslov4 if they would too!

-------------

I will create an extensive documentation iter

[2020-07-04 18:40] srevinsaju commented on #6
PS: Comments are growing longer in size :joy:

[2020-07-06 07:19] quozl commented on #6
Thanks.  Briefly reviewed again.

* [ ] still some use of wrong term "SugarLabs", see sugarstore-static/about.html,
* [ ] inconsistent use of "App Store", "app store", "AppStore" and "Appstore" and "appstore"; is it really necessary to call it an app store when it is a collection of Sugar activities?
* [ ] sugarstore_generator.appdata.xml has a description which demonstrates this very well; it cou

[2020-07-06 07:52] quozl commented on #6
Some licenses wouldn't need Manish to approve, as it would be a derivative work.  But the context of this discussion about the license was that you weren't sure why AGPLv3 was chosen.  We are agreed we don't know.

What was your objection to aslov4?  I didn't quite understand it.

Thanks.

It is the most important documentation.  It need not be extensive.  I've re-read the README.md as of 5d0575ec

[2020-07-06 10:43] free-libre-software commented on #6
A quick note: I am happy to relicense my work to any FSF approved license that may be more suitable to organization needs. I did sought feedback on license at the time of demoing prototype. Let me know any other matter related to me that might be holding back.

Great work :+1:

[2020-07-06 11:27] srevinsaju commented on #6
Thanks for the review @quozl , will get into it shortly.

PS: I resent it to the mailing list a week ago too. @codewiz fixed the spam thingy. I hope my emails are still not going to the spam

[2020-07-06 11:38] srevinsaju commented on #6
There is no objection. I (personally) do not like integers in entrypoints. I prefer `python` more than `python3`, like that. More or less, it was my personal preference. And I also preferred the tool to start with `sugar`. ASLO is not very intuitive for new comers / users. I took a poll among the Google Code In Participants at Sugar Labs, they said that **Sugar App Store** is way better than **asl

[2020-07-06 11:40] srevinsaju commented on #6
I will fix the rest when we find an appropriate name for the organization. It seems like I am doing stuff again and again without a conculsion :smile:

[2020-07-06 12:00] shaansubbaiah commented on #6
That took quite a while to read o.o

Agree with that SAAS doesn't seem right, confuses with Software As A Service, and for some reason even with the SASS language.

I am also not fond of aslov4 as it took me quite a while to understand what it actually was. I guess something along the lines of *Sugar App Store* makes sense and kids can relate with the *Apple app store* and *Google play store*.

[2020-07-06 12:09] srevinsaju commented on #6
Thanks for the review @shaansubbaiah. I agree with you!

[2020-07-06 12:10] srevinsaju commented on #6
Lets mention few more names, @JuiP, @Saumya-Mishra9129

[2020-07-06 12:30] srevinsaju commented on #6
For information, to future readers: SAAS is no longer the original name of the tool. It has been changed temporarily to `sugar-store`

[2020-07-06 12:48] srevinsaju commented on #6
Thanks, your pointer to Browse-Activity helped me! Addressed in #14

[2020-07-06 12:48] srevinsaju commented on #6
Thanks @free-libre-software

[2020-07-06 15:35] Saumya-Mishra9129 commented on #6
I agree with https://github.com/sugarlabs-appstore/sugarappstore/issues/6#issuecomment-654190782

**Sugar App Store**  makes better first impression than _**aslo4**_. However **Sugar Activity Center** is also a good alternative if not **Sugar App Store** because it includes word Activity.

[2020-07-06 20:00] srevinsaju commented on #6
@quozl I have updated the documentation to create a minimal `appstore`.

[2020-07-07 07:14] quozl commented on #6
@free-libre-software wrote:

Thanks.  AGPLv3 is an acceptable license for Sugar Labs.  I had no concerns with the license.  I had concerns with [other licenses being mixed in](https://github.com/sugarlabs-appstore/sugarappstore/issues/6#issuecomment-653703187), and the license [not being applied properly](https://github.com/sugarlabs-appstore/sugarappstore/issues/6#issuecomment-653260860).  @srevi

[2020-07-07 07:22] quozl commented on #6
Only you can test that, after asking others.  [Archives](http://lists.sugarlabs.org/archive/sugar-devel/2020-July/thread.html) of mailing list so far show only two posts this month, and from my mail archives I can confirm that;
* [this post went missing](http://lists.sugarlabs.org/archive/sugar-devel/2020-July/058511.html),
* [this post was received](http://lists.sugarlabs.org/archive/sugar-devel/

[2020-07-07 07:49] quozl commented on #6
Thanks for sharing your preferences.

Let's not conflate.  There's the service, and there's the tools we use to deliver the service.  There's no reason for them to be the same name.  We've always called the service an [Activity Library](https://wiki.sugarlabs.org/go/Activity_Library).  As it is in the context of Sugar, we call it _Sugar Activity Library_.  I'm not proposing we change that.  I'd li

[2020-07-08 10:52] srevinsaju commented on #6
Thanks, it was probably my mistake. The moment I pushed the "Send" button, I remembered that I should have added the link to sugarstore.netlify.app when I am sending it to the mailing list. So, in the midway of sending the mail, I clicked "Cancel", and thats possibly why you didn't recieve the mail. But however, Sugarlabs Mailing List sent me a confirmation mail suggesting my mail has been receive

[2020-07-08 14:39] chimosky commented on #6
I agree with the name *Sugar App Store* but as @quozl has mentioned, there's already a naming pattern for repos that have to do with storing sugar activities.

I also think that a domain name for *Sugar App Store* can be gotten that'll point to where we decide to store the activities but that's totally dependent on Sugar Labs, the name can also be at the home page of the app store.

[2020-07-08 15:07] srevinsaju commented on #6
@chimosky thanks for your review! So what do you suggest as the name of this repository? Without the name, I guess I cannot make much progress. I have mentioned few developers at Sugar Labs at https://github.com/sugarlabs-appstore/sugarappstore/issues/6#issuecomment-654181244, but unfortunately only few responded. We are not in quorum to decide the name yet. I guess thats the max I can do as outre

[2020-07-09 04:09] quozl commented on #6
There's no reason to stop progress while a name change is pending.

[2020-07-09 04:14] quozl commented on #6
I disagree.  Your mail was received by the mailing list, was archived by the mailing list, and was sent out to the subscribers.  I'm one of the subscribers.  Other subscribers may have got it.  It didn't arrive for me in my Inbox or Spam.  Therefore my mail provider dropped it.  Mail providers use heuristics and scoring.  One of the important scores is the DKIM, which sugarlabs.org aliases don't s

[2020-07-09 04:17] quozl commented on #6
The tool is only going to be used by one to four people.  It doesn't need to be in PATH or be subject to shell completions.  If it were named `mkal`, then you'd run it by typing `./mkal` perhaps.  The `./` is much shorter than `sugar-`.

[2020-07-09 16:00] srevinsaju commented on #6
Thanks for the info. I did not know that. I assumed the appstore is going to be deployed by other users of the sugar desktop / olpc laptop on their private servers. This solves the problem. Thanks for making it clear now, otherwise the discussion would have been prolonged without reason

[2020-07-10 05:41] quozl commented on #6
Thanks.  Being open source, there's no requirement for users of Sugar or OLPC OS to let me know if they are using it.  :grin:  I can say I helped make about three million laptops, many of which are still in use, but they run Python 2 activities and are using activities.sugarlabs.org and are unlikely to use this new service.  I helped make a few thousand laptops that can run the Python 3 capable ve

[2020-07-11 17:43] srevinsaju commented on #6
ok! I will proceed with refactoring. Makes things simpler and better I suppose :smile:

[2020-07-13 23:40] quozl commented on #6
Thanks.  Updated review checkboxes https://github.com/sugarlabs-appstore/aslo-v4/issues/6#issuecomment-654060887.

[2020-07-21 12:40] srevinsaju commented on #6
@quozl updated https://github.com/sugarlabs-appstore/aslo-v4/issues/6#issuecomment-654060887 , please feel free to uncheck any if you find any other dangling instance

[2020-07-21 19:02] srevinsaju commented on #6
@quozl I guess I need mentorship here. There is one important thing (and probably the last thing) remaining on the checklist

- [ ] Confgure AsloUpdater to use ASLOv4

I was reading through the source code of AsloUpdater. I wanted to know a few things
* Where is the GUI part of the AsloUpdater 's source code located?
* Why does AsloUpdater appear on the Debian Virtual Machine and not on Sugar Runn

[2020-07-22 06:16] quozl commented on #6
i.e. what calls it.

* `data/org.sugarlabs.gschema.xml` defines `org.sugarlabs.update` `backend` which defaults to `aslo.AsloUpdater` class,
* OLPC OS sets `backend` to `microformat.MicroformatUpdater`, and sets `microformat-update-url` to a URL on our web servers, so as to release updates,
* `src/jarabe/model/update/updater.py` manages the update process, see `check_urgent_update` and `startup_pe

[2020-07-22 06:23] quozl commented on #6
By the way, because SoaS does an update automatically and silently about ten minutes after startup, we've had some situations where test results differ between people testing SoaS depending on _when_ they did the test.

[2020-07-22 07:18] srevinsaju commented on #6
Wow! Thanks. This is what I was looking for. This will help me to replicate a similar functionality from the function calls.

Should I change that and maintain a new file, eg: aslo.Aslo4Updater or edit the file in place and create a Pull Request?

Ok

Hmm

Ok

Ok thanks!

Yes, but afaik, the activities on activities.sugarlabs.orf are python2, so comparing a python3 version of activity to python2 v

[2020-07-22 07:41] quozl commented on #6
I don't know yet.  That's something that will have to be designed.  Put your DevOps hat on?

Re: checklist item _Confgure AsloUpdater to use ASLOv4_,

What the GSoC 2020 idea said was to _support Sugar's microformat software upgrade feature in My Settings, (Sugar 0.116 is configured in `data/org.sugarlabs.gschema.xml` to use the AsloUpdater in `src/jarabe/model/update/aslo.py` which reaches out to

[2020-07-22 17:51] srevinsaju commented on #6
Now optionally, I can add *Download count** feature in near future.

@quozl Ready for review! :tada: :tada:

[2020-07-27 07:43] srevinsaju commented on #6
In case this ping was missed out, @quozl :smile:

[2020-07-28 04:40] quozl commented on #6
Sorry, bit busy.  You're still in the queue.

[2020-07-28 06:01] quozl commented on #6
Not so.  Whether we run processing on sunjammer or not is unrelated to the requirement of generating static HTML with JavaScript.

[2020-07-28 06:03] quozl commented on #6
Thanks.  I've tested that just now with Sugar 0.112 Browse 157.5, and the redirect does occur.

[2020-07-28 06:12] quozl commented on #6
503.

503.

Good start, thanks.

Yes, for future release of Sugar, we can change this URL.  We can't change it for existing builds of Sugar, that's why the old URL has to work as well.

Yes, presumably we can direct apache to detect the URL and redirect to the flask app.  Or, as I said, the logic could be added to the update-aslo.php that we already have on the activities.sugarlabs.org VM.

Great.

[2020-07-28 07:24] srevinsaju commented on #6
Oops, my bad. My heroku server credits ran out

[code]

[2020-07-28 07:35] srevinsaju commented on #6
@quozl I moved the heroku app to another account where I have credits. It won't get exhausted for another 100 hours. :smile: , I would be glad if you could rerun the same tests

[2020-07-28 07:46] srevinsaju commented on #6
I would like to keep the logic of `update-aslo.php` untouched. What I would rather do is, to move update-aslo.php to `update-aslo.old.php` and then tell the flask app to handle all the requests (as can be done now), and if the requested version is below 0.116, then run `update-aslo.old.php` else run the function to get the static rdf generated.

I can explain the function of the flask server to ma

[2020-07-28 07:50] quozl commented on #6
Tested again, worked okay.

The Log-42.xo bundle had a different sha256sum to the bundle I made when the activity was released.  It is important that the bundles be traceable, for security.  I guess this was a bundle you made from a git tag; which means it wasn't a release by the activity maintainer, but a release by you.  This is why I need to have the content derived from bundles rather than Git

[2020-07-28 08:55] srevinsaju commented on #6
Yea, agreed, it was a release by me on `master`. This should be fixed when it's deployed in sunjammer. Right now I am building all the activities from master. Once it's deployed on sunjammer, the sha256 should match with the bundle provided. Alternatively, I could checkout the latest tag, and then the sha256 would match. Will fix that today evening. Thanks for your review!!

[2020-07-28 21:32] srevinsaju commented on #6
Hmm, I tried to apply a fix, but still the, sha256 sums do not match my local build and server build. Anyway, I have added a "build from .xo" option, I hope that would do.

[2020-07-29 00:26] quozl opened #19 "Download this appstore dangerous"
An elementary school aged child visiting the app store is offered a download of saas.tar.gz but;
* the link is 404, but even if it wasn't,
* may consume all family download quota without realising,
* won't be able to use it once it is downloaded.

[2020-07-29 00:27] quozl opened #20 "Can't scroll with keyboard keys"
On initial loading, or when a search is made, the page can't be scrolled using the down, page down, home, end, up, or page up keys.

[2020-07-29 00:29] quozl opened #21 "Flask icon consumes CPU"
On opening the app store in Browse, negligible CPU resources are consumed.  But if I press the slider switch next to the laboratory flask icon, CPU usage increases substantially.  I also don't know what the switch is for, and there's no mouse-over hint.

[2020-07-29 00:31] quozl opened #22 "No response to clicking on activity icon"
After a search is made for Implode, I click on the activity icon.  Nothing happens.

[2020-07-29 00:32] quozl opened #23 "Author Pootle daemon should be filtered"
Some git authors are robots, so they don't need credit.

[2020-07-29 00:33] quozl opened #24 "Do not offer Flatpak for systems that do not have Flatpak capability"
Detailed view of an activity can show a Flatpak section.  This is harmful for systems that do not have a Flatpak capability.  Either verify with Browse that the capability exists, or disable.

[2020-07-29 00:35] quozl opened #25 "Promote download above other links"
On the activity detail view, the link to source code is offered as a priority above that of download.  An elementary school child may download source code by mistake.  Prioritise the download of the bundle.

[2020-07-29 00:36] quozl opened #26 "Saturated colours"
Highly saturated colours of the default theme are difficult for neurodiverse or vision impeded students.

[2020-07-29 00:37] quozl opened #27 "Omit description, new in this version and changelog if nothing present"

[2020-07-29 00:39] quozl opened #28 "Separate version with a dash"
On the default view, or the search results, activity versions are rendered as a white on grey text block to the right and slightly below the activity name.

I'm fine with the colours, but what I don't like is;
* [ ] losing the dash separator,
* [x] not sharing the same text baseline.

[2020-07-29 11:54] srevinsaju commented on #21
Yes, see @shaansubbaiah 's reply to the initial release (lava lamp toggle) http://lists.sugarlabs.org/archive/sugar-devel/2020-June/058455.html. Possibly, its a feature, disabled by default. I assume @quozl  used Chromium Engine while viewing the website. Also see https://github.com/sugarlabs-appstore/aslo-v4/commit/23b8bdfb22c77dad148c75d27d4f1dd6ac1c2572.

[2020-07-29 18:08] srevinsaju commented on #22
You are right. Nothing happens. I have not configured any action to be triggered while the activity icon is pressed. Should I?

[2020-07-30 18:17] srevinsaju commented on #28
Hmm, they share the same baseline for me
![image](https://user-images.githubusercontent.com/48695438/88959063-1661c180-d2aa-11ea-853b-2675fe28d141.png)

I personally don't like dashes, so I did not add them. Is there an alternative?

[2020-07-30 18:19] srevinsaju commented on #6
Closing this, as issues can be now created

[2020-07-30 18:19] #6 closed

[2020-08-01 02:06] quozl commented on #21
Browse uses WebKit.  I'm not using Chromium Engine as far as I know, but I don't know what is underneath.

[2020-08-01 02:10] quozl commented on #28
Are you using Browse?  This system is for use by Browse, remember.  :grin:

I don't like dashes either, but we're stuck with them in Sugar.  It was a choice made around 2007 and so much depends on it.  Our personal likes and dislikes are not relevant.

[2020-08-05 10:13] #22 closed

[2020-08-05 10:46] #27 closed

[2020-08-05 10:47] #19 closed

[2020-08-05 10:49] srevinsaju commented on #25
Needs more review / information. This issue has been discussed similarly in many other places.
Link to source code, only redirects to GitHub page, an elementary school child may not understand the working of GitHub. I personally feel, that the download button is best placed at the bottom.

[2020-08-05 10:50] #1 closed

[2020-08-05 17:40] free-libre-software commented on #25
Download button can be bumped above gallery. Or layout can be redesigned so that source code button is not as big as download button. It can still be confusing even after placing download button above source code button. From UX perspective, download button should be placed somewhere at the top where it is visible on all activity pages without needing to scroll. This is because download will the m

[2020-08-08 14:21] srevinsaju commented on #26
![ASLO](https://user-images.githubusercontent.com/48695438/89712735-71c33c00-d99b-11ea-887f-0d63613152ac.png)

@quozl will this pallete be appropriate?

[2020-08-10 05:39] quozl commented on #26
I don't know.  I just see five variants of blue.

[2020-08-10 06:27] srevinsaju commented on #26
Are these five variants of blue, too saturated, or should I get a more less saturated color pallets?

[2020-08-10 07:17] quozl commented on #26
It would depend on the context.

https://wiki.sugarlabs.org/go/Human_Interface_Guidelines/The_Sugar_Interface/Colors gives some guidance on colours, and links to a set of colours we used in Sugar.  None of these variants of blue remind me of them.

[2020-08-17 17:45] srevinsaju commented on #20
Page Up, Page Down, Home and End keys work for me on the Chromium and Gecko engine.

[2020-08-17 17:46] #23 closed

[2020-08-17 17:48] srevinsaju commented on #20
And also on the Browse-Activity as of `v205-11-g3f07fa5`

[2020-08-17 17:50] srevinsaju commented on #24
I do not know how to fix this. You can optionally disable `flatpak` support by removing the `--include-flatpaks` command line argument, to disable flatpak support completely.

I will keep this issue open, in case anyone knows how to fix it :smile:

[2020-08-17 18:02] srevinsaju commented on #28
well, shares the same baseline for me on Browse too
![image](https://user-images.githubusercontent.com/48695438/90428579-df264980-e0cc-11ea-9cda-84dbc59bc50b.png)

[2020-08-17 18:03] srevinsaju commented on #28
Well, I can't add a dash, if I need to, I need to remove the box around the version. What do you say?

[2020-08-17 18:03] #21 closed

[2020-08-17 18:08] srevinsaju commented on #25
Thanks @free-libre-software, I am not an expert at UX design. I would be grateful if you do
* rearrange the bundle page, to make it look right. The code template is right over here: https://github.com/sugarlabs-appstore/aslo-v4/blob/master/aslo4/constants.py#L88
* or create a UX rendering of the webpage, so I can replicate. Preferably an svg rendering

[2020-08-17 18:11] srevinsaju commented on #24
@quozl by the way, which are those systems that do not support Flatpak? Do you mean Micorsoft Windows / macOS ?

[2020-08-17 18:11] srevinsaju commented on #26
Fixed it :cry:

[2020-08-18 05:58] quozl commented on #24
Sugar with Browse doesn't support Flatpak.

It could be fixed by disabling Flatpak content on the detailed view when Browse is detected.

It could also be fixed by adding Flatpak support to Sugar and Browse.

[2020-08-18 06:06] quozl commented on #28
Okay, it's more than the baseline, it's also the way the version number is made distinct and separate, instead of being part of the name.

![tmp](https://user-images.githubusercontent.com/2936481/90476210-61b21600-e16c-11ea-903e-f30a67d31572.png)

I don't know if the box has to be removed.  That's an implementation decision.  I'm fine with removing the box though, and the grey background.

Either

[2020-08-18 06:27] quozl commented on #25
Is it as simple as changing the order of elements?  https://github.com/sugarlabs-appstore/aslo-v4/commit/e927a617e2417bd7d38af09e1c60881bc6fd739d

Could also remove the source code download.  It serves no purpose for the average child user.

[2020-08-18 06:29] quozl commented on #20
Yes, seems fixed.

[2020-08-18 06:29] #20 closed

[2020-08-18 06:32] quozl opened #34 "Search for Implode yields many matches that have no relevance"
A search for "implode" yields results;

* Implode-20
* Pointillism-9
* ViewSlides-14
* Simulate-2
* Words-24
* Help-20
* Calculate-46
* Terminal-47
* Record-201
* Flip-10
* Jukebox-26
* Paint-70
* Abacus-61
* Portfolio-52
* Write-101
* ImageVIewer-65
* Sliderule-35
* Memorize-58
* SugarCommander-10
* Physics-35

All but the first result are expected.  Why are the other results shown?

[2020-08-18 06:34] quozl commented on #26
The activity view remains a highly saturated background;

![Screenshot_uff_2020-08-18_16:33:36](https://user-images.githubusercontent.com/2936481/90478534-988a2b00-e170-11ea-9ef4-ed4d1b0e0ac3.png)

[2020-08-18 06:39] quozl commented on #20
Seems specific to Firefox.  Do you want to support Firefox?

[2020-08-18 08:35] srevinsaju commented on #34
The levenshtein distance across the other activities are probably smaller, and hence they are shown. Search results are classified on the basis of confidence. implode has the highest confidence (smallest levenshtein distance), and hence shown first. The others still match, well I do not know, it's a library specific issue (luacong/minisearch). I will just check the API documentation if I missed so

[2020-08-18 11:10] free-libre-software commented on #20
On page load and even after search (pressing return key), focus is on search bar. This causes the navigation keys to not work in all browsers. If we remove the focus by pressing TAB key than all navigation keys work.

[2020-08-18 11:25] free-libre-software opened #35 "Header, search and footer should be displayed on activties page"
Important for navigation and consistency. If not already done than, all three parts can be split into separate HTML files and than included in all other HTML files (pages). For static generation, these can be just copied and pasted to other page's HTML.

[2020-08-18 15:40] srevinsaju commented on #28
Perfect, I will just remove the version

[2020-08-18 15:43] #28 closed

[2020-08-18 15:48] srevinsaju commented on #24
Wait, I don't understand. Downloading `.flatpakref` works on Browse Activity for me.

[2020-08-18 15:49] srevinsaju opened #37 "Migrate to jinja2"
`Jinja2` is an amaizing python templating library. It would be great to implement in Sugar Labs Appstore

[2020-08-18 15:53] srevinsaju opened #38 "Rewrite static resources"
The static (HTML, CSS, JS) libraries, following #37 , #35 , #28, #34, and other performance issues, it is important to rewrite the Appstore again in a more performance optimized Javascript framework.

Possibly, by using the powerful, but new CSS library Bulma, replacing the Bootstrap 4 library.

[2020-08-18 15:58] #26 closed

[2020-08-18 15:58] srevinsaju commented on #26
Oops, missed that. Should be fixed now

[2020-09-04 09:22] srevinsaju commented on #24
@tchx84 what would you suggest as a fix for this issue?

[2020-09-04 10:45] tchx84 commented on #24
Can you elaborate on how this is harmful ?

[2020-09-04 11:28] srevinsaju commented on #24
Well, I do not know, maybe what @Quozl suggests is https://github.com/sugarlabs-appstore/aslo-v4/issues/24#issuecomment-675270520

[2020-09-04 11:54] srevinsaju commented on #25
@quozl does this look right?
![image](https://user-images.githubusercontent.com/48695438/92236656-81f90900-eebe-11ea-8e34-adb5493bc9f4.png)

[2020-09-08 06:10] quozl commented on #25
Sorry, I'm confused.

* my question illustrative commit https://github.com/sugarlabs-appstore/aslo-v4/commit/e927a617e2417bd7d38af09e1c60881bc6fd739d you've made into a pull request https://github.com/sugarlabs-appstore/aslo-v4/pull/39, which says "fixes" and "possible fixes", and is directed at my temporary branch,
* you're suggesting the download link is to be below the version and license, both

[2020-09-10 13:26] srevinsaju commented on #25
What do you mean? Are you asking if its as simple as doing https://github.com/sugarlabs-appstore/aslo-v4/commit/e927a617e2417bd7d38af09e1c60881bc6fd739d or do we have to do something more complex?
Well, I do not know want to move the download button to a new position, but it was your suggestion. So it was a question I asked you, as to where you would like to see the download button. By reading the

[2020-09-10 13:30] srevinsaju commented on #37
I do not plan to fix it now. So closing it

[2020-09-10 13:30] #37 closed

[2020-09-10 13:30] srevinsaju commented on #38
I do not plan to fix it now either; and it seems we can work without Bulma too

[2020-09-10 13:30] #38 closed

[2020-09-13 14:09] #35 closed

[2020-09-13 14:10] srevinsaju commented on #38
Done! nvm :smile:

[2020-09-14 03:46] quozl commented on #24
I can't reproduce now; when I open https://sugarstore.netlify.app/ in Browse, the search doesn't work.

[2020-09-14 03:48] quozl commented on #25
Yes.

I can't parse this.

Thanks.

[2020-09-14 03:50] quozl commented on #20
My understanding is that regardless of keyboard focus, navigation keys can still be intercepted by a script.

[2020-09-14 20:30] srevinsaju commented on #24
Looks like I exceeded the slug size for netlify, I would not be able to push to netlify. I tried to push to `gh-pages`, but seems like I cannot deploy items to gh-pages without enabling GIT LFS. For demonstration purposes, I could deploy aslov4 to my `~/public_html` folder on sunjammer. Is it okay to deploy it there?

[2020-09-14 20:34] srevinsaju commented on #25
I meant, I had no problem with the current position where the download button was placed. :smile:, it should be solved on merging the PR mentioned before.

[2020-09-14 20:38] srevinsaju commented on #24
Alternatively, we could build it on our personal system too, if you have a lot of Sugar Activity clones, (and obviously you would have many). I tested the new one, it works, but I will have to look for another, static site hosting service (where I have not reached build limits)

[2020-09-15 03:16] quozl commented on #24
I don't know what you mean about netlify or gh-pages.  Using sunjammer would be a step in the right direction to support the _uploading of bundles by SSH_ [requirement](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2020.md#sugar-app-store-for-python-3-activities-aslov4).  At the moment your test instance goes beyond these requirements and tries to capture all activities on GitHub; that's not

[2020-09-15 04:38] quozl commented on #25
Yes, I know, because that's where you put it in the first place?  :grin:  What I'm asking is for you to imagine being an elementary school child, in disadvantaged circumstances, trying to figure out what to do to install an activity you've heard about from other children.  What guidance can we give such a child to ensure they choose the right action?  Is a link to source code reasonable; what will

[2020-09-15 04:43] srevinsaju commented on #24
@quozl I do not know what you mean. I have already spoken about it in #6 , and on the README.md, I have added the documentation on how to do it. For demonstration purposes, I hosted it on netlify and github pages, I started showing the demo, before I got a shell account.

At the moment, I do not have a collection of bundles to extract the metadata from; So I had to clone all the activities from gi

[2020-09-15 04:46] srevinsaju commented on #25
Great, maybe I can put a screenshot. hold on

[2020-09-15 04:53] srevinsaju commented on #25
![image](https://user-images.githubusercontent.com/48695438/93167099-8b893900-f728-11ea-80ce-61a831148369.png)

[2020-09-15 05:07] quozl commented on #24
I think we're waiting for you to tell us how to upload.

Our [documentation on activity maintenance](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#checklist---maintainer) says what is needed at the moment.  Can you suggest a change?

At the moment, developers upload Python 2 bundles to https://activities.sugarlabs.org directly. I also upload Python 2 bundles to http://dow

[2020-09-15 05:44] srevinsaju commented on #25
@quozl can I merge #39 ?

[2020-09-15 06:42] quozl commented on #25
Thanks.  I agree it fixes https://github.com/sugarlabs-appstore/aslo-v4/issues/25.

[2020-09-15 09:09] srevinsaju commented on #24
@quozl deployed it to sunjammer

Links here https://people.sugarlabs.org/~srevinsaju/aslo

To deploy a single bundle

[code]

@quozl as you have root, you may write to ~/aslo/bundles I guess. Feel free to let me know of any changes I have to make.

Making path relative might have broken some stuff, please test the new builds, I have tested most parts, in case I have missed any. Thanks

[2020-09-15 09:11] srevinsaju commented on #24
@quozl deployed it to sunjammer

Links here https://people.sugarlabs.org/~srevinsaju/aslo

To deploy a single bundle

[code]

@quozl as you have root, you may write to ~/aslo/bundles I guess. Feel free to let me know of any changes I have to make.

Making path relative might have broken some stuff, please test the new builds, I have tested most parts, in case I have missed any. Thanks

[2020-09-16 06:04] quozl commented on #25
Not fixed here; https://people.sugarlabs.org/~srevinsaju/aslo/app/com.jotaro.ImplodeActivity.html

[2020-09-16 06:07] quozl opened #43 "Link to source not needed"
https://people.sugarlabs.org/~srevinsaju/aslo/app/com.jotaro.ImplodeActivity.html# has a link to source that doesn't work and isn't needed.

[2020-09-16 06:08] quozl opened #44 "Suppress empty fields"
https://people.sugarlabs.org/~srevinsaju/aslo/app/com.jotaro.ImplodeActivity.html# has some fields shown that contain no useful information; it would be better not to show those fields when they are empty;

* authors,
* new in this version,
* changelog,

[2020-09-16 06:10] quozl opened #45 "Do not show compatible python or sugar version"
https://people.sugarlabs.org/~srevinsaju/aslo/ has icons (a child icon with a 3) that serve no purpose for the target audience; they aren't expected to know the version of Sugar or the version of Python on their computer.

[2020-09-16 06:13] quozl opened #46 "Bundle listener or worker"
At the moment to add a bundle to the test instance on sunjammer, we have to su as root, then sudo as srevinsaju, and run this command;

[code]

It could instead be in a periodic crontab job that checks for new bundles, or a job using `inotifywait`.

[2020-09-16 06:14] quozl commented on #24
Thanks.  Separate issues created.  Back to this issue, can you add a bundle that shows the problem?

[2020-09-16 06:25] srevinsaju commented on #25
@quozl just fixed it on e5abcce3f59508af596d5a6928f5979295804531 and rebuilt the aslo. Can you please recheck the link?

[2020-09-16 06:30] srevinsaju commented on #46
I got chmod the directory to make it o+rw for all
I guess this would do
[code]
I am not sure. It should work right? I am less experienced with chmod.

Alternatively, what I would have done is to create another user, say `aslo` and, give all the privelleges to `aslo` to an `aslo` directory, and then enable local crontab for aslo. Adding users to a `aslo` group, and giving them read write access, wo

[2020-09-16 06:31] srevinsaju commented on #45
Great. I will remove that!

[2020-09-16 07:50] quozl commented on #46
Thanks.  I've installed `python3-pip`.

Group `sugardl` is assigned to each user who releases activities.  I've used `chgrp` on `bundles`, removed world write, and tested I can write files as my non-root user.

[code]

[2020-09-16 07:55] srevinsaju commented on #46
@quozl Can you also allow the `sugardl` members to install a `pip` package globally. Right now, `aslo-v4` generator is installed to `/home/srevinsaju/.local/lib/python3.x/site-packages/aslo4`.If I could install it globally, i.e, to `/usr` or to any specific directory, and extend `PYTHONPATH` to that directotry, so that you could also use the `aslo4` bundle without `su` as `srevinsaju` ?

[2020-09-16 08:01] srevinsaju commented on #46
I did that for my sibling, by allowing executing a particular app, say `pip`, for group `sugardl` as `root` by editing /etc/sudoers. But possibly, there are better solutions too.

[2020-09-16 08:02] srevinsaju commented on #46
I guess, we could move this repository to `sugarlabs` github repo. It guess, it attained some stability now

[2020-09-16 08:11] quozl commented on #46
I think it is more secure if the builder is run in a separate account, such as yours, that's why I mentioned `inotifywait` and `crontab`.

Experiment with this;

* write a shell script `bin/aslo-rebuild` that does what you need; i.e. run the builder once then exit,
* test it at the shell prompt until it works,
* test it as a detached job;
[code]
* check the logs that are mailed to you, to see that

[2020-09-16 08:13] quozl commented on #46
Try moving the repository.  You're a member of `sugarlabs` at the moment, and I guess that should be enough privs.  If not, make me an owner here, let me know, and I'll try it.

[2020-09-16 08:16] quozl commented on #46
https://github.com/sugarlabs-appstore/aslo-v4/settings "danger zone" ... "transfer".  Let me know.

[2020-09-16 08:18] srevinsaju commented on #46
@quozl looks like someone forked it already to `sugarlabs`. So I cannot transfer it. It would be great, if I could transfer issues along with the repository.

[2020-09-16 08:19] srevinsaju commented on #46
I guess, I cannot transfer issues across forks.

[2020-09-16 08:23] quozl commented on #46
I deleted the fork and transferred the repository.

[2020-09-16 08:24] srevinsaju commented on #46
Thanks :smile:

[2020-09-16 08:32] srevinsaju commented on #46
@quozl I created the shell script, and followed your instructions. It has mailed me the result, it works. I have added the shellscript to crontab too.

[2020-09-16 08:36] srevinsaju commented on #46
@quozl I did not understand this line

By locking, do you mean, what happens when you try to use `apt` while another instance is running, it tells: Failed to get apt.lock .. is this the same thing?

[2020-09-16 08:41] srevinsaju commented on #46
Would this do? `flock aslo -c 'bin/aslo-rebuild'`

[2020-09-16 09:01] srevinsaju commented on #46
@quozl I got my first mail from cron :tada:

[2020-09-17 03:48] #25 closed

[2020-09-17 03:56] quozl commented on #46
You can test `flock` by temporarily adding a call to `time.sleep(30)` in your Python code; that will give you 30 seconds to try conflicting.

In scripts, it can be easier to use `flock` with file descriptor redirection, like so;

[code]

This example waits for five minutes for the lock, and then fails if the lock could not be acquired.

Should you get sick of the mail, change your script to redire

[2020-09-17 05:48] srevinsaju commented on #46
Thanks. I were having a school test on Python. I was away for some time. Thanks for explaining this to me. I have learnt a lot in just 3 days. Thanks to you :smile:

[2020-09-17 05:52] srevinsaju commented on #46
@quozl I added the `flock` command in the shell script

[2020-09-17 06:03] srevinsaju commented on #45
Ok, looks like I no longer have write access to this repo

[2020-09-17 06:11] srevinsaju commented on #24
Hmm, Implode activity exists on flatpak. you could add a `com.jotaro.*.ImplodeActivity.git` with the output of
[code]

I don't remember the exact bundle name.
Re running the build will automatically fetch the flatpak data and include the card with flatpak options

[2020-09-17 06:12] srevinsaju commented on #44
Okay.

[2020-09-17 06:39] srevinsaju commented on #46
I removed the `-v` verbose option on the static generator. I guess that would be verbose too. I have to add a `--silent` option to raise only errors

[2020-09-18 01:30] quozl commented on #45
Added you with _maintain_ access.

[2020-09-18 01:33] #45 closed

[2020-09-18 01:34] #44 closed

[2020-09-18 07:44] #43 closed

[2020-09-19 02:25] quozl commented on #24
Okay, thanks.  As I'm not going to be building from git, this is no longer a problem.

[2020-09-19 02:25] #24 closed

[2020-09-20 10:50] srevinsaju commented on #46
@quozl Done. Fixed all other bugs too!  Please review :D

[2020-09-21 00:23] quozl opened #54 "Rendering fail"
Content is overlapping.  On Ubuntu 20.04 with Browse;

![Screenshot_uff_2020-09-21_10:22:10](https://user-images.githubusercontent.com/2936481/93725677-5d0dd100-fbf4-11ea-9ff5-3f371ff90733.png)

On Ubuntu 18.04 with Firefox;

![tmp](https://user-images.githubusercontent.com/2936481/93725708-80d11700-fbf4-11ea-8347-8e0d347edd9b.png)

Also click on activities does not take browser to activity page.

[2020-09-21 00:43] quozl opened #55 "Navigation bar and other elements, review of wording"
http://people.sugarlabs.org/~srevinsaju/aslo/

In the page title (<title></title>)
* [ ] "Sugar App Store" should be "Sugar Activity Library" or "Sugar Activities Store",

In the navigation bar
* [ ] "Sugar App Store" should be "Sugar Activity Library" or "Sugar Activities Store",
* [ ] following the link yields "Not Found", "The requested URL was not found on this server.",
* [ ] same with the "H

[2020-09-21 03:33] quozl commented on #46
As a test, I've uploaded Browse bundle, but there was no change to http://people.sugarlabs.org/~srevinsaju/aslo/ ... I did not investigate further.

[2020-09-21 04:16] srevinsaju commented on #54
I agree, I checked today morning. I forgot to apply `sunjammer_srevinsaju_aslo_catalog.patch`, should be fixed now

[2020-09-21 04:18] srevinsaju commented on #46
Cron job is set for an interval of 2 hours I guess, I ran
[code]
for demonstration, please check again

[2020-09-21 04:33] quozl commented on #46
Yay, thanks.

[2020-09-21 04:33] #46 closed

[2020-09-21 04:34] quozl commented on #54
Thanks, is fixed.

[2020-09-21 04:34] #54 closed

[2020-09-21 04:39] quozl opened #56 "Description metadata"
Activity [Browse](http://people.sugarlabs.org/~srevinsaju/aslo/app/org.laptop.WebActivity.html) does not show [_description_](https://github.com/sugarlabs/browse-activity/blob/master/activity/activity.info#L12) metadata.

It isn't a common piece of metadata, I only know of about 14 activities that use it, but where it is used it goes further in describing than the _summary_.

[2020-09-21 05:25] srevinsaju commented on #56
Ok, should I add the description metadata as a replacement of summary, or along with summary?

[2020-09-21 06:02] quozl commented on #56
Don't know.

Here's the 14 activities data; bundle id, summary, and description, using repr()

[code]

[2020-09-21 06:54] #55 closed

[2020-09-21 07:25] #56 closed

[2020-09-21 07:49] srevinsaju commented on #56
Thanks. I have added the feature. Please feel free to reopen the issue, if something is missing

[2020-10-01 10:12] shaansubbaiah opened #60 "Activity cards render incorrectly, theme switch broken"
In https://sugarstore.netlify.app, the Activity images are out of place, and switching themes doesn't work.

I have a bunch of addons that block scripts and ads on Firefox so I tried it on stock Chromium as well, got the same results.

Let me know if the link I used 'sugarstore.netlify.app', is outdated (it was linked in the repository description) and if any other information is required.

**Fire

[2020-10-01 10:14] srevinsaju commented on #60
Thanks, the link is deprecated. I might as well deprecate it to 404.
The new link is https://people.sugarlabs.org/~srevinsaju/aslo/

[2020-10-01 10:14] srevinsaju commented on #60
My slug limit on Netlify is reached. So we are now deploying to [sunjammer[(https://sunjammer.sugarlabs.org)

[2020-10-01 10:20] shaansubbaiah commented on #60
Thanks, this works much better, I like the new look.
Am I missing something or are there only 3 activities?

[2020-10-01 10:22] srevinsaju commented on #60
No, only three, one maintained by me, and two by @quozl . We are waiting for maintainers to submit xo's :)

[2020-10-01 10:26] shaansubbaiah commented on #60
Thanks, closing 👍

[2020-10-01 10:26] #60 closed

[2021-01-21 20:01] quozl opened #63 "upgrade to https"
accessing via http does not upgrade to https; it's okay to do so, but was that intended?

[2021-01-21 20:03] srevinsaju commented on #63
It is not intended. I just needed another opinion. Do you think I should redirect to `https` too? I was thinking if its okay to do that.

[2021-01-21 20:05] quozl opened #64 "release announcement review"
Here's a release announcement message, as shown by mutt(1);

[code]

* [ ] the release time was not the time on the file, but the time of execution,
* [x] the info, download and footer links don't work (missing host name),
* [ ] new in this version and changelog are not present,
* [ ] it isn't clear to whom activities-v4@ mail is directed,
* [ ] wrap the text to fit character-cell mail convention,

[2021-01-21 20:10] quozl commented on #63
Here's what I think.  For v4, it should upgrade to https;

* current release of Browse can follow the upgrade,
* an upgrade improves the information security situation for the end-user,
* it is convention,

Negative consequences and discussion;
* causes additional delay as the connection is negotiated again; we can control for that by making sure our links use https in Browse (done) and in other c

[2021-01-21 20:11] srevinsaju commented on #64
The release time: is it embedded within the XO? Can I extract that from the XO itself?
It is recommended that the activity maintainer run `rebuild-aslo` as soon as the bundle is copied into the directory. So, until the activity maintainer runs `rebuild-aslo`, the bundle remains unpublished. Do you think that, next time, on the next release, the time will be correct?

Yes, fixed that in `sunjammer:

[2021-01-21 20:17] srevinsaju commented on #63
Thats not a problem. I was wondering only if the website becomes inaccessible over `https`, trying to access over `http` also fails, because the server would constantly try to redirect to the secure version. I am not able to access [torproject.org](https://torproject.org) from here, it says `ERR_SSL_PROTOCOL_ERROR`, I cannot use `http` either, because it redirects to `https` always. I am completel

[2021-01-21 20:33] quozl commented on #63
torproject.org may be blocked in your country.  That's something that some countries do, in an abundance of caution to combat their imagined enemies.  Like locking up kitchen knives.

[2021-01-21 20:35] srevinsaju commented on #63
Ok, so I do not see anything blocking this. I will add a redirect to `https` right away. Thanks.

[2021-01-21 20:40] srevinsaju commented on #63
Fixed.

[2021-01-21 20:41] quozl commented on #64
You could deduce the release time from the activity.info file modify time.  `ZipInfo.date_time`

A default reply should go to the activity maintainer.  A reply-all to the mailing list too.  You could deduce from file ownership?

[2021-01-21 20:42] quozl commented on #63
Tested.  Pass.

[2021-01-22 07:18] #64 closed

[2021-01-22 13:19] #63 closed

[2021-02-02 21:49] quozl opened #66 "Release announcement date format, and language"
[code]

looks strange, as most date times in ISO format use a leading zero in fields.

[code]

is more expected.

Also, "about this review" is odd, as it isn't a review, but a release.

[2021-02-03 06:37] srevinsaju commented on #66
https://github.com/sugarlabs/aslo-v4/blob/e071af059cdbac9bb903b9543beec89033f35cd6/aslo4/generator.py#L943

Tells I used `asctime`.

This is the jinja2 template for the release email

https://github.com/sugarlabs/aslo-v4/blob/e071af059cdbac9bb903b9543beec89033f35cd6/aslo4-static/templates/release_template.eml#L20

Let me know what's best, or you can make changes yourself. I guess I adapted this em

[2021-02-03 07:45] quozl commented on #66
That's odd.  For me, `asctime` shows 'Wed Feb  3 18:43:05 2021' and is documented not to use locale.

[2021-02-13 02:45] quozl opened #67 "Release Browse-207 ignored"
Browse-207 was released in the usual way.

`rebuild-aslo` reported
[code]

https://v4.activities.sugarlabs.org/app/org.laptop.WebActivity.html shows v206 instead of v207

[2021-02-19 07:13] srevinsaju commented on #67
Possibly fixed in #69

[2021-02-19 07:17] srevinsaju commented on #67
I apologize for a stream of emails which happened when I was testing :facepalm:

[2021-02-19 07:21] srevinsaju commented on #67
Need to improve some instructions. Fixed now.

[2021-02-19 07:21] #67 closed

[2021-02-21 20:39] quozl opened #70 "Restricted SSH accounts"
SSH can be configured to support restricted accounts using specific phrases in the authorized_keys file.  GitHub uses this to prevent general access to their servers by their users.

Please support using restricted accounts;
* for scp, sftp, or rsync according to what is secure,
* for rebuild-aslo.

[2021-02-25 01:05] aperezbios opened #71 "ASLO v4 usability/UX complaint/improvement"
@srevinsaju, From my perspective, there is significant usability regression, when comparing the previous, legacy ASLO, to ASLO v4, because the current ASLO v4 landing page contains no useful information "above the fold", just a very large logo (which, frankly, I don't know the intent of, or understand what value it provides) and search bar. You must scroll in order to "browse" any activities. It s

[2021-03-07 20:36] srevinsaju commented on #71
Agreed, a visual template / layout (something like a figma design) might help to speed up the designing. I myself have no particular skills on designing, etc. I would like to hear about other's opinions too. Thanks for your suggesstion.

[2021-03-09 20:43] #66 closed

[2021-03-09 20:43] srevinsaju commented on #66
Ok, I had been looking at the wrong place. Next build should have it fixed. :smile:

[2022-04-14 17:58] Shreyas-SAS commented on #71
@srevinsaju I would like to work on this issue having used Figma for UI/UX design before but from the discussion above I cannot understand the requirement well. can you please explain me what exactly needs to be done.

[2022-04-14 19:55] srevinsaju commented on #71
@Shreyas-SAS the issue seems to be that the current aslo-v4 design (v4.activities.sugarlabs.org) doesn't seem very user-friendly / efficient. So, we would probably like to redesign the UI following some good UX guideline, like resizing logo, moving some components to a different place, adjusting the size, etc

[2022-04-15 06:07] Shreyas-SAS commented on #71
@srevinsaju @aperezbios I would like to break this issue into sub issues as this seems a very large change on the repository as a single issue. increase in issue number can give opportunity to others wanting to work on the issue which will be good for the community.

I have identified the following areas to be good for changes after reference to the present UI. i would like to hear youur thoughts

[2022-04-15 06:18] Shreyas-SAS commented on #71
Also another addition to the UI would be adding preview images in the activity download pages just like the ones in the play store. it could give the user a better preview of what he is downloading and what to expect. only thing is that this will take a little more time.

[2022-04-15 06:20] quozl commented on #71
Fixing the Flappy Bird icon should be an issue in the Flappy Bird repository.

Porting activities is a different issue, against each activity, not against aslo-v4.  (i.e. there's no possible commit you can make on aslo-v4 to fix that, rather the commits would be in other repositories).

Same with adding brief description.

We have preview images in some activities in the screenshots directory.

On

[2022-04-15 06:38] Shreyas-SAS commented on #71
actually the issue happens due to inversion of colors on the ALSO v4 home page, the flappy bird repository only provides 1 image as an icon but when theme is changed ALSO v4 webpage changes that image into a negative, to resolve this issue i believe that change in flappy bird repository will not be useful. the changes must be made in the dark theme folder on ALSO v4 repository only.

Oh is it, I a

[2022-04-15 07:15] quozl commented on #71
Yes, some of the screenshots are old and need updating.

[2022-04-15 07:34] Shreyas-SAS commented on #71
oh, ok. then it will actually need us to click latest images rather than investing more time on checking whether or not the images are up to date. the same images can also be uploaded on the images repo so that they are made available for any other future contributions. For now I will keep this issue noted and will start working on the issues after my exams end.

For now I will be working on the c

[2022-04-15 07:39] Shreyas-SAS opened #73 "Reformatting navigation bar on ALSO v4"
Taking reference from discussion on issue #71

### I propose to make the following changes.

1. shifting logo inside navigation bar.
2. Linking logo to home page when clicked (bring it back to home page or else refresh on home page).
3. removal of home button in navigation bar since its just a repetition of the logo functionality.
4. moving search bar inside the navigation bar.
5. changing positio

[2022-04-15 07:40] Shreyas-SAS opened #74 "Reformatting navigation bar on ALSO v4"
Taking reference from discussion on issue #71

### I propose to make the following changes.

1. shifting logo inside navigation bar.
2. Linking logo to home page when clicked (bring it back to home page or else refresh on home page).
3. removal of home button in navigation bar since its just a repetition of the logo functionality.
4. moving search bar inside the navigation bar.
5. changing positio

[2022-04-15 07:42] Shreyas-SAS commented on #74
@srevinsaju @quozl can you please have a look at the issue and assign me the issue.

[2022-04-15 07:42] #73 closed

[2022-04-15 07:46] Shreyas-SAS opened #75 "Re-Designing Cards in ALSO v4"
Taking reference from discussion on issue #71

### I propose to make the following changes.

1. Addition of brief description to all activities.
2. Resizing cards to equal sizes.
3. Creating a hover effect on cards when mouse is moved on it.

[2022-04-15 07:48] Shreyas-SAS commented on #75
@srevinsaju @quozl I request you to please take a look at the issue and assign me to work on it.

[2022-04-15 07:50] quozl commented on #74
We do not assign issues.  We also don't create issues for things that we are going to fix ourselves.  Issues are usually created for things we are not going to fix, or by people who don't have any plan to fix them.  So an issue that you plan to fix is a bit unusual.  I suggest opening a pull request instead.

[2022-04-15 07:50] quozl commented on #75
We do not assign issues. We also don't create issues for things that we are going to fix ourselves. Issues are usually created for things we are not going to fix, or by people who don't have any plan to fix them. So an issue that you plan to fix is a bit unusual. I suggest opening a pull request instead.

[2022-04-15 08:19] Shreyas-SAS commented on #74
oh ok. in sugarizer we usually created an issue to tell others what we are going to work on so that they could also suggest changes as well as counter the change,

many times it has happened in sugarizer that whenever one creates an issue, some other person may express his view on the issue and both parties come to an agreement of not going forward with the issue, it is a great practice I feel tha

[2022-04-15 08:20] Shreyas-SAS commented on #75
(repeated suggestion from issue #74 comments)

oh ok. in sugarizer we usually created an issue to tell others what we are going to work on so that they could also suggest changes as well as counter the change,

many times it has happened in sugarizer that whenever one creates an issue, some other person may express his view on the issue and both parties come to an agreement of not going forward wi

[2022-04-15 08:22] srevinsaju commented on #74
Apparently `aslo-v4` is a low traffic repository, and if any other person would like to come up with an alternative implementation, we tend to review both of them and get the best approach merged to `main`. Discussions are still open on issues.

[2022-04-15 09:01] Shreyas-SAS commented on #74
okay, I will work on both the issues and send in a PR tonight, Still if you allow I would love to put a PR on specific issues rather than an unlinked PR. creating extra issues don't cost anything so I feel there might be no problem.

I will also create the issues for other suggestions open to community in case someone wants to contribute to it as I will be a little busy with my exams the next 2-3

[2022-04-15 10:32] quozl commented on #74
Closing as duplicate of https://github.com/sugarlabs/aslo-v4/issues/71

[2022-04-15 10:32] #74 closed

[2022-04-15 10:32] quozl commented on #75
Closing as duplicate of https://github.com/sugarlabs/aslo-v4/issues/71

[2022-04-15 10:32] #75 closed

[2022-04-15 10:32] quozl commented on #71
Thanks.

I've closed the issues as duplicates of this issue.  I don't think more issues are needed, as the issue here https://github.com/sugarlabs/aslo-v4/issues/71 is well-defined.  When you do any work to solve this issue, mention it in your pull request.  A pull request that doesn't entirely solve an issue is fine, as long as some improvement is made.

There's no need to tell others you are wor

[2022-04-15 10:57] Shreyas-SAS commented on #71
yeah, I am fine with it. but I would like to still place my commits in 2 different PRs. I actually would have loved if I were allowed to work with 2 different issues to track the work but its fine. I thank you for the time you invested to reply to me of your busy schedule.

[2022-04-15 22:24] quozl commented on #71
Thanks, but it doesn't matter if an issue is solved by one or a hundred commits or pull requests, as long as there is forward progress.  Two pull requests seems a very small number of pull requests for the amount of change required.  If there's a chance the forward progress isn't obvious, then make sure the commit message explains it.  See our [guide to writing commit messages](https://github.com/

[2022-04-16 11:28] Shreyas-SAS commented on #71
just wanted to tell that I might not be able to fix the issue with my current skillset, the website has an extensive use of sass while I have a very low experience with it that can be said negligible. I tried to make changes to the file in plain CSS and tailwind CSS but failed,  thought I could solve atleast some issues if not all but it seems it will be too early to make any commits.

I have note

[2022-04-16 11:29] Shreyas-SAS commented on #71
I will try to contribute to some other issues in sugarlabs repository meanwhile

[2022-04-16 21:50] quozl commented on #71
Interesting, thanks.  You've reinforced my opinion that pull requests are the most critical and necessary first step for new contributors.  :grin:  When you look for things to do in other repositories, please assume that 99% of the opportunities are not listed as issues and never will be.  You have to learn what the software is for, how it is used, what it does well, and what it doesn't do well.

[2022-04-17 03:36] Shreyas-SAS commented on #71
Didn't get it well, but i don't know why it feels like sir didn't want me to work on the issue. Well if that's the case still i am fine with it. You can always ask me not to work on the issue if our thoughts don't match. I wouldn't be angry or anything. 😂 One of the main things for working on an issue is not just contributing blindly but to understand what your organisation and mentors expect and

[2022-04-17 05:33] quozl commented on #71
I don't want you to misunderstand my intentions.  I would like you to work on this issue.  I'd like everyone to work on it, but that is wishful thinking.  I'd like to work on it too, but I don't have the time right now, because I lack time, and there are more important things to work on first.  I have been a mentor before, but I am not a mentor this year.  Thanks for breaking your work into smalle

[2022-04-17 06:22] Shreyas-SAS commented on #71
Oh. I guess i took it the wrong way. I am sorry for the misunderstanding. Even i would love to work on this issue after i gain the required skills. But even if it was so it generally is a good practice in itself to clarify if ones frequency doesn't match. I fully respect that way as well.

Hmm. I completely agree. To think now i could have added checklist rather than create a new issue.

But regar

[2022-04-17 13:06] srevinsaju commented on #71
A single issue with multiple checklist items as @quozl suggested helps to keep the idea/objective of the issue/change simple. This helps a completely new contributor to come up with a different approach, than that mentioned by Contributor A, for example. If multiple issues are created, it is very likely that the new contributor would follow the idea as specified by the issue title and description

[2022-04-18 05:13] quozl commented on #71
I agree with @srevinsaju.

Developers do work on source code without the skills, and I suggest @Shreyas-SAS should go ahead and try that.  I know I have no experience with Sass (syntactically awesome style sheets), but I know I can learn a new API or language in a few minutes rather than weeks, so I looked at the repository briefly just now.

Curiously, there is no use of Sass at all in this repos

[2022-04-18 07:42] Shreyas-SAS commented on #71
Hmm. I agree completely. The point sir raised here seems valid.

[2022-04-18 07:53] Shreyas-SAS commented on #71
Yes i completely agree. Thus i stopped trying for now till i gain some experience with the required technologies.

I actually don't know either. But of what i know changing plain css was not working at all. So i assumed it must be due to sass as it was mentioned in many places.

I actually don't know much about low traffic repositories and the point raised actually does suffice me. Even if we keep

[2022-04-18 08:55] quozl commented on #71
Well, now that we know Sass isn't involved, your changing the CSS and failing to see the change must have had some other cause.  Dig deeper.

[2022-10-17 20:11] quozl opened #76 "Frequent duplicates on default page"
As the number of activities has grown, I notice that the default page contains several duplications.